@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-dark: #1D1D1F;
    --text-light: #fdfdff;
    --bg-dark: #1d1d1f;
    --bg-light: #ededef;
    --bg-lighter: #fdfdff;
    --accent-dark: #008799;
    --accent-light: #52B1BE;

    --corner-radius: 0.5rem;

    --font-size-small: calc(max(0.75em, 0.75rem));
    --font-size-subheading: calc(min(1.5em, 12vw));
    --font-size-heading: calc(min(3em, 12vw)); 
    --font-size-jumbo: calc(min(4.5em, 12vw)); 

    --line-spacing-body: 150%;
    --line-spacing-display: 125%;

    --aside-size: 25rem;

    --ease-out: 0.2s cubic-bezier(.74,1.8,.01,.73);
    --ease-in: 0.2s cubic-bezier(.4,2.2,0,0);
    --ease-thud: 1s cubic-bezier(.08,.96,0,.99) 0.04s;
}

body {
    background-color: var(--bg-light);
    color: var(--text-dark);

    font-family: "Plus Jakarta Sans", system-ui;
    font-size: calc(min(1.25em, 5vw));
    line-height: var(--line-spacing-body);

    padding: 8rem 0 ;
    width: calc(100% - 2rem);
    max-width: 80rem;
    margin: 0 auto;
}

body > * + * {
    margin-top: 4rem;
}

img {
    width: 100%;
    border-radius: calc(var(--corner-radius));
}

.icon {
    width: 2rem;
    vertical-align: middle;
}

a {
    color: var(--accent-dark);
}

a.button {
    display: inline-block;
    position: relative;
    color: var(--text-light);
    background-color: var(--bg-dark);
    /* The padding is specifically given in ems to counteract the whitespace which is built into the font. */
    padding: 0.5em 0.9em 0.6em 0.9em;
    border-radius: var(--corner-radius);
    text-decoration: none;
    box-shadow: 0.25em 0.25em 0 var(--accent-light);
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    font-weight: 700;
    
    transition: box-shadow var(--ease-out), translate var(--ease-out);
}

a.button:hover {
    box-shadow: 0 0 0 var(--accent-dark);
    translate: 0.25em 0.25em;
    transition: box-shadow var(--ease-in), translate var(--ease-in);
}

/* This is the impact ring for when the button 'hits' the background after hover. */
a.button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: var(--corner-radius);
    border: 0 solid var(--accent-dark);
    translate: 0.25em 0.25em;
}

a.button:hover::before {
    top: -0.5em;
    bottom: -0.5em;
    left: -0.5em;
    right: -0.5em;
    translate: 0rem 0rem;
    border: 0.3em solid transparent;
    border-radius: calc(var(--corner-radius) + 0.5em);
    transition:
        top var(--ease-thud),
        bottom var(--ease-thud),
        left var(--ease-thud),
        right var(--ease-thud),
        border-radius var(--ease-thud),
        border var(--ease-thud),
        translate var(--ease-in);
}

a.button.button-lg {
    font-size: var(--font-size-subheading);
    line-height: var(--line-spacing-display);

    padding-top: 2em;
    padding-right: 2.9em;
    min-width: var(--aside-size);
}

hr {
    border: none;
    border-bottom: 2px dashed var(--accent-dark);
}

.jumbo {
    font-size: var(--font-size-jumbo);
    line-height: var(--line-spacing-display);
    text-wrap: balance;
}

h1,
h2 {
    font-size: var(--font-size-heading);
    line-height: var(--line-spacing-display);
    text-wrap: balance;
}

h3 {
    font-size: var(--font-size-subheading);
    line-height: var(--line-spacing-display);
    text-wrap: balance;
}

hgroup {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

hgroup > p {
    opacity: 0.6;
}

hgroup > .button {
    align-self: end;
}

article > * + *,
aside > * + * {
    margin-top: 1rem;
}

article > * + h1,
article > * + h2,
article > * + h3 {
    margin-top: 4rem;
}

aside {
    float: right;
    margin-left: 2rem;
    max-width: var(--aside-size);
}

.data > li {
    text-align: right;
    list-style: none;
}

.data > li > data,
.data > li > time {
    font-weight: 700;
}

.multicol {
    column-width: 30rem;
    column-gap: 2rem;
}

.multicol > article {
    break-inside: avoid;
}

.multicol > article + article {
    margin-top: 4rem;
}

ul.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

ul.tags > li {
    display: inline-block;
    background-color: var(--accent-dark);
    color: var(--text-light);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    line-height: var(--line-spacing-body);
    font-weight: 700;

    border-radius: calc(var(--corner-radius) / 2);

    /* The padding is specifically given in ems to counteract the whitespace which is built into the font. */
    padding: 0.2em 0.45em 0.3em 0.45em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

footer {
    font-size: var(--font-size-small);
    line-height: var(--line-spacing-body);
}

#intro .intro-me {
    color: var(--accent-dark);
    position: relative;
}

@media screen and (min-width: 100rem) {
    #intro .intro-me::after {
        content: "";
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: calc(50% - 4rem);
        left: -9rem;
        background-image: url("decoration/portrait.jpg");
        background-size: cover;
        border-radius: 100%;
    }
}

@media screen and (min-width: 110rem) {
    #intro .intro-me::before {
        content: "";
        position: absolute;
        width: 6.875rem;
        height: 2.375rem;
        top: 100%;
        left: -8rem;
        background-image: url("decoration/portrait-arrow.svg");
        background-size: contain;
    }
    
    #intro .intro-me::after {
        top: calc(100% - 6rem);
        left: -16rem;
    }
}

@media screen and (min-width: 120rem) {
    #intro .intro-me::after {
        top: calc(100% - 8rem);
        left: -20rem;
        width: 12rem;
        height: 12rem;
    }
}

#portfolio .portfolio-header {
    display: grid;
    grid-template:
        "title data" auto
        "tags data" auto / 1fr auto;
    column-gap: 2rem;
    row-gap: 1rem;
}

#portfolio .portfolio-header > h3 {
    grid-area: title;
    align-self: start;
}

#portfolio .portfolio-header > .tags {
    grid-area: tags;
    align-self: start;
}

#portfolio .portfolio-header > .data {
    grid-area: data;
    align-self: start;
}

#contact > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-lighter);
    list-style: none;
    padding: 1rem 2rem;
    border-radius: var(--corner-radius);
    margin-top: 2rem;
}

#contact > ul > li {
    display: flex;
    gap: 1rem;
}

#contact > ul a {
    color: var(--text-dark);
    text-decoration: none;
}